* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

* {
  font-family: "Playfair Display", "PT Serif", serif;
}

header {
  background: rgb(0, 42, 164);
  background: linear-gradient(201deg, rgb(31, 73, 198) 0%, rgb(125, 150, 176) 54%);
  position: sticky;
  padding: 2px;
  top: -43px;
}

.header {
  display: flex;
}
@media (min-width: 992px) {
  .header__nav {
    display: inline-block;
    margin-left: 2rem;
  }
  .header__lista {
    display: inline-block;
    margin-left: auto;
    margin-right: 2rem;
  }
}

.titulo {
  max-width: max-content;
  margin: 0 auto 0.5rem auto;
  font-size: xx-large;
  text-align: center;
}

footer {
  margin-top: 20vh;
  background-color: rgb(125, 150, 176);
  display: flex;
}

.footer__texto {
  padding: 2rem;
  font-size: medium;
}
.footer__redes {
  display: inline-block;
  margin-left: auto;
  margin-right: 3rem;
  padding: 2rem 0;
}
.footer__redes__titulo {
  font-size: medium;
}
.footer__redes__lista {
  font-size: medium;
}

@media (min-width: 768px) {
  .index {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-areas: "hero hero" "menu mini-tienda" "oferta oferta";
  }
}

.tienda__menu {
  border-right: solid black;
  background-color: #ffffff;
}
.tienda__menu__titulo > h3 {
  font-size: medium;
}
.tienda__menu__form__labels {
  font-size: small;
}
@media (min-width: 768px) {
  .tienda__menu__titulo {
    font-size: larger;
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: 0 1.5rem 0;
  }
  .tienda__menu__titulo > h3 {
    font-size: x-large;
  }
  .tienda__menu__form {
    max-width: fit-content;
  }
  .tienda__menu__form__labels {
    padding-bottom: 0.6rem;
    max-width: fit-content;
    margin-left: 1.5rem;
    font-size: medium;
  }
}

.contacto {
  margin: 2rem 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto__titulo > h3 {
  font-size: medium;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .contacto__titulo > h3 {
    font-size: xx-large;
  }
}
.contacto__formulario {
  font-size: medium;
}
@media (min-width: 768px) {
  .contacto__formulario {
    font-size: x-large;
  }
}
.contacto__formulario__boton {
  max-width: fit-content;
  margin-left: auto;
}
.contacto__formulario__label {
  padding: 1rem;
  display: block;
}
@media (min-width: 768px) {
  .contacto__formulario__label {
    display: inline;
  }
}
.contacto__formulario__input {
  border: solid black 0.3mm;
  padding: 0.3mm;
  margin: 0.5rem 0;
  font-size: small;
}
@media (min-width: 768px) {
  .contacto__formulario__input {
    font-size: large;
  }
}

.--mensaje {
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 992px) {
  .header__nav__boton, .header__lista__nav-dos {
    display: inline-block;
    max-width: 10vw;
    border: solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: 1rem;
    transition: 0.3s;
  }
  .header__nav__boton:hover, .header__lista__nav-dos:hover {
    background-color: white;
    border: white;
  }
}
.ver-mas {
  border: solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  transition-property: transform;
  transition-duration: 0.5s;
}
.ver-mas:hover {
  transform: rotate(90deg);
}

.productos__tarjeta {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: solid black;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  max-width: fit-content;
}

.menu {
  display: none;
}
@media (min-width: 768px) {
  .menu {
    border-right: solid black;
    grid-area: menu;
    margin: 10vh 0;
    display: flex;
  }
}

.productos__tarjeta--index {
  border: solid black;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.oferta {
  display: flex;
  flex-direction: column;
  background: rgb(94, 85, 255);
  background: linear-gradient(90deg, rgb(94, 85, 255) 0%, rgb(9, 121, 91) 50%, rgb(0, 212, 255) 100%);
}
@media (min-width: 768px) {
  .oferta {
    grid-area: oferta;
  }
}
.oferta__titulo {
  margin-top: 2.5rem;
  text-align: center;
  color: white;
  font-size: xx-large;
}
.oferta__productos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  .oferta__productos {
    flex-direction: row;
  }
}
.oferta__img {
  max-width: 20vw;
}

.mini-tienda {
  margin: 10vh 0;
  max-width: 100vw;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  .productos {
    flex-direction: row;
  }
}
.productos__tarjeta__titulo {
  font-size: medium;
}
@media (min-width: 768px) {
  .productos__tarjeta__titulo {
    font-size: larger;
  }
}
.productos__tarjeta__img {
  max-width: 15vw;
  max-height: fit-content;
  min-width: 7vh;
}

.titulo__tienda {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  grid-area: hero;
  background-image: url(../assets/img/fondohero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  align-items: center;
}
.hero__texto {
  text-align: center;
  font-size: xx-large;
  margin: 11rem 0 1.5rem;
}
.hero__texto > h2 {
  padding: 0.5rem;
}
.hero__texto > h3 {
  padding: 0.5rem;
}

.tienda {
  display: flex;
  background-color: #f5f5df;
}

.productos--tienda {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5vh 3vw;
}

.nosotros {
  margin: 3rem auto 4rem auto;
  max-width: max-content;
}
.nosotros__titulo {
  font-size: larger;
  margin-bottom: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .nosotros__titulo {
    font-size: xx-large;
  }
}
.nosotros__texto {
  font-size: medium;
  text-align: center;
}
@media (min-width: 768px) {
  .nosotros__texto {
    font-size: x-large;
  }
}

.ubicacion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .ubicacion {
    flex-direction: row;
  }
}
.ubicacion__texto {
  display: flex;
  font-size: medium;
  text-align: center;
  align-items: center;
}

.carrito {
  margin: 10vh auto 35vh;
}
.carrito__titulos {
  padding: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: xx-small;
}
@media (min-width: 480px) {
  .carrito__titulos {
    font-size: small;
  }
}
@media (min-width: 768px) {
  .carrito__titulos {
    font-size: larger;
  }
}
.carrito__contenido > h3 {
  font-size: xx-small;
}
@media (min-width: 768px) {
  .carrito__contenido > h3 {
    font-size: larger;
  }
}

td {
  border: solid rgb(0, 0, 0);
  padding: 0.3rem;
  max-width: fit-content;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
