.tienda {
    display: flex;
    background-color: #f5f5df;
    min-width: 88.3%;
    max-width: 88.3%;
    @include tablet-desktop {
        min-width: 90.5%;
        max-width: 90.5%;
    }
}

.productos--tienda {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5vh 3vw;
    max-width: fit-content;
}
