footer {
    margin-top: 20vh;
    background-color: $color-primario;
    display: flex;
}

.footer {
    &__texto {
        padding: 2rem;
        font-size: medium;
    }

    &__redes {
        display: inline-block;
        margin-left: auto;
        margin-right: 3rem;
        padding: 2rem 0;

        &__titulo {
            font-size: medium;
        }

        &__lista {
            font-size: medium;
        }
    }
}